.welcome-card ion-img {
  height: 70px;
  overflow: hidden;
  margin: 0;
  font-size: 30px;
}
ion-title{
  margin: 0;
  padding: 0;
}
.welcome-card{
  height: 270px;
  font-size: 30px;
}
.slide{
  width: 150px;
  height: 50px;
}